
<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search in table">
</mat-form-field>

<div>
  <label *ngFor="let column of columnDefinitions">
    <mat-checkbox [(ngModel)]="column.visible">{{ column.header }}</mat-checkbox>
  </label>
</div>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container *ngFor="let column of columnDefinitions">
    <ng-container *ngIf="column.visible">
      <ng-container [matColumnDef]="column.def">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column.def === 'name'">
            {{ element[column.def].first }} {{ element[column.def].last }}
          </ng-container>
          <ng-container *ngIf="column.def !== 'name'">
            {{ element[column.def] }}
          </ng-container>
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
